.control-panel {
    position: absolute;
    left: 2rem;
    top: 2rem;
    padding: 2rem;
    background-color: transparent;
}

@media (max-width: 800px) {
    .control-panel {
        left: 0;
        top: 0;
    }
}
